<!-- <p>{{ data | json }}</p> -->

<!-- <button>Previous</button> -->

<div style="background-color: aliceblue">
  <p>
    {{ data.index }}
  </p>
  <p>
    {{ data.max }}
  </p>
</div>

<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="3vw"
  class="dialog"
>
  <button mat-fab (click)="prev()">
    <mat-icon> navigate_before </mat-icon>
  </button>
  <div class="image-cont">
    <img
      src="https://picsum.photos/id/{{ data.image.id }}/{{
        data.image.original_width
      }}/{{ data.image.original_height }}"
    />
  </div>
  <button mat-fab (click)="next()">
    <mat-icon> navigate_next </mat-icon>
  </button>
</div>

<!-- <button>Next</button> -->
