<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1vh">
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="3vw"
    class="dialog"
  >
    <button
      mat-fab
      (click)="prev()"
      [disabled]="data.index == 0"
      color="primary"
    >
      <mat-icon> navigate_before </mat-icon>
    </button>
    <div class="image-cont">
      <img
        [@changeState]="animationState"
        (@changeState.done)="animationState = 'done'"
        src="https://picsum.photos/id/{{ data.image.id }}/{{
          data.image.original_width
        }}/{{ data.image.original_height }}"
      />
    </div>
    <button
      mat-fab
      (click)="next()"
      [disabled]="data.index == data.max"
      color="primary"
    >
      <mat-icon> navigate_next </mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1px">
    <h2 class="position">{{ data.index + 1 }} out of {{ data.max + 1 }}</h2>
    <p class="author-info">By {{ data.image.author }}</p>
  </div>
</div>
