<form (ngSubmit)="onSubmit()">
  <mat-form-field
    class="search-input"
    matTooltipPosition="above"
    matTooltipShowDelay="1000"
    matTooltipHideDelay="1000"
    matTooltip="Search will match against authors. Click the Search Button or press enter to commit a search."
  >
    <mat-label>Artist</mat-label>
    <div class="search-field">
      <input
        type="text"
        aria-label="Artist"
        matInput
        [matAutocomplete]="auto"
        [formControl]="myControl"
        (ngModelChange)="onFilterChange()"
      />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="search-btn"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
